:root {
  --color-white: #fff;
  --color-default: #4440A2;
  --color-disabled: #B3B4E6;
  --color-blue-ligt: #B4BEF6;
  --color-blue-extra-ligt: #DCE1FF;
  --color-yellow: #FFF06E;
  --color-green: #75F071;

  --font-size-defailt: 2.2rem;

  --border-radius-box: 4.2rem;
}