._ {
  position: relative;

  textarea {
    @include input-style;
    width: 100%;
    height: 21rem;
    resize: none;
    padding: 1.3rem 2rem;
    font-size: 1.7rem;
  }
}

.error {
  outline: .2rem solid #E56D6D !important;
}

.counter {
  position: absolute;
  right: 1.5rem;
  bottom: 1rem;
  color: #BFC2E9;
  font-size: 1.6rem;
  font-weight: 600;
}