._ {
  background-color: #DDE2F9;
  padding: 1rem 3rem 1rem 2rem;
  position: fixed;
  left: 0;
  top: 0;
  width: fit-content;
  max-width: 50%;
  line-height: normal;
  font-size: 1.6rem;
  color: var(--color-default);
  border-radius: 0 0 4rem 0;
}
