.list_group {
  display: grid;
  gap: 2rem;
}

.list_tournaments {
  padding: 2rem 0;
  display: grid;
  gap: 1rem;
}

.leader_board_menu {
  width: 56.5rem;
  background-color: #2950A5;
  padding: 5.4rem 0 4rem;
  z-index: 1;
}
