._ {
  width: 4.7rem;
  margin-left: auto;
  padding: 2rem;
  box-sizing: content-box;
  position: absolute;
  right: -2rem;

  img {
    width: 100%;
  }

  &:hover img {
    @include arrow-hover;
  }
}
