.icon {
  width: 8.6rem;
  margin-bottom: 3.4rem;
}

.description {
  color: #4440A2;
  text-align: center;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: normal;
  margin-bottom: 4.1rem;
}

.thanks_button {
  width: 24.6rem;
}

._._with_cash {
  padding: .3rem 0 0;

  .icon {
    margin-bottom: 1.5rem;
  }

  .description {
    margin-bottom: 2.2rem;
  }

  .complete_cash {
    margin-bottom: 4rem;
  }
}
