._ {
  width: 2.7rem;
  line-height: 2.7rem;
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(180deg, #6FB0FB 0%, #64A6F4 100%);
  box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
  color: var(--color-white);
  text-shadow: 0 .2rem .2rem rgba(37, 90, 153, 0.50);
  cursor: pointer;
  font-size: 1.8rem;
}