._ {
  border-radius: 4.2rem;
  padding: 3.3rem 3rem;
  font-size: 2.2rem;
  font-weight: 600;
  background-color: #3D65C065;
  display: grid;
  gap: 3rem;

  li {
    display: flex;
    justify-content: space-between;
    line-height: 3.2rem;

    p:last-child {
      font-weight: 700;
    }
  }
}

.color_yellow {
  color: var(--color-yellow);
}

.tooltip {
  position: absolute;
  transform: translate(-3%, -70%);

  &__content {
    padding: 1rem 1rem 1.6rem;
    font-size: 1.6rem;

    p {
      margin-top: 1rem;
      opacity: .4;
    }
  }

  &__list {
    border-radius: 1.5rem;
    background-color: #DFE3FA;
    padding: 2.9rem 1.5rem 3.6rem 3.4rem;
    display: grid;
    gap: 2.5rem;

    li {
      text-align: left;
      list-style: disc;
    }
  }
}
