._ {

}

.title {
  color: #EAEDFE;
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 2.5rem;
  margin-bottom: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .6rem;

  &:before {
    content: '';
    width: 2.4rem;
    height: 2.2rem;
    display: inline-block;
    background: url('shared/assets/icons/arrows_revers.png') center / contain no-repeat;
  }
}

.list {
  display: grid;
  gap: 1rem;
}