._ {
  height: 15.2rem;
  box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
  border-radius: 4.2rem;
  background-color: #fff;
  display: flex;
}


.hr {
  border-radius: .5rem;
  width: 2.6rem;
  height: .1rem;
  background-color: #9B80F2;
  margin: .2rem 0;
}



