._ {
  color: #C2C4E5;
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.time {
  color: var(--color-default);
}

.send_code {
  cursor: pointer;
  text-decoration: underline;
}