.text {
  font-size: 2.6rem;
  line-height: normal;
}

.reward_image {
  width: 21.2rem;
  height: 14.7rem;
  margin: 1.3rem 0;
}

.button {
  width: 24.6rem;
  margin-top: 2.2rem;
}

.currency {
  position: relative;
  z-index: 1;
}