.text {
  margin-block: 1rem 1.5rem;
}

.image {
  position: absolute;
  z-index: -1;
  top: -19rem;
  width: 34.6rem;
  transform: translateX(-50%);
}

.buttons {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;

  > * {
    flex: 1;
  }
}