.exp_img {
  height: 10.1rem;
}

.dollars_img {
  height: 9.2rem;
}

.coins_img {
  height: 11.5rem;
}

.dollars_and_coins_img {
  height: 14.2rem;
}

.img_container {
  height: 17rem;
  display: grid;
  place-items: center;
}