.title {
  @include modal-text-title;
  margin-bottom: 4rem;
}

.input_code {
  margin-bottom: 2rem;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 3.8rem;

  button {
    width: 24.6rem;
  }
}

.back_btn {
  position: absolute;
  top: 2rem;
  left: 2rem;
  padding: 1rem;
  @include hover-button;

  svg {
    width: 1.8rem;

    * {
      fill: #A1A4DF;
    }
  }
}